{
  # Version of the bundle, used to denote format changes
  # Major is only increased changes incompatible with previous versions
  # Minor is increased for backwards-compatible changes
  #
  # Version history:
  # - 1.1: addition of 'name'
  # - 1.2: addition of 'storage.fileList'
  # - 1.3: remove of 'clusterInfo.kubeadminPasswordFile'
  # - 1.4: addition of 'arch'
  # - 1.5: remove of 'node[0].kernelCmdLine', 'node[0].initramfs', 'node[0].kernel'
  "version": "1.4",
  # Type of this bundle content
  # Currently the only valid type is 'snc' (which stands for 'single-node-cluster')
  "type": "snc",
  # Name of the bundle
  "name": "crc_libvirt_4.6.1",
  # Bundle arch (This follows https://gist.github.com/lizkes/975ab2d1b5f9d5fdee5d3fa665bcfde6 with amd64/arm64 being used at the moment)
  "arch": "amd64",
  "buildInfo": {
    # Time this bundle was built
    "buildTime": "2019-04-23T14:55:32+00:00",
    # Output of 'openshift-install version' from the installer used to generate the bundle
    "openshiftInstallerVersion": "./openshift-install v0.16.1\nbuilt from commit e3fceacc975953f56cb09931e6be015a36eb6075",
    # Output of 'git describe' or 'git rev-parse' of the 'snc' script
    # repository used when generating the bundle
    "sncVersion": "git9662"
  },
  "clusterInfo": {
    # Version of OpenShift installed in the virtual machine
    "openshiftVersion": "4.1.11"
    # Name of the openshift cluster stored in the bundle
    "clusterName": "crc",
    # Base domain name used for the openshift cluster
    "baseDomain": "testing",
    # Subdomain where the apps will go
    "appsDomain": "apps-crc.testing",
    # Name of a file containing an SSH private key which can be used to connect to
    # the cluster nodes
    "sshPrivateKeyFile": "id_ecdsa_crc",
    # Name of the kubeconfig file stored in the bundle
    "kubeConfig": "kubeconfig",
    # pull secret that can be used to fetch OpenShift container images (optional)
    # "openshiftPullSecret": "default-pull-secret"
  },
  "nodes": [
    {
      # Type of the node, can be 'master', 'worker' or both
      "kind": [
        "master",
        "worker"
      ],
      # Hostname of the node
      "hostname": "crc-88lpx-master-0",
      # Disk image used by the node, the 'storage' object will contain more
      # details about its format
      "diskImage": "crc.qcow2"
      # Internal IP for which etcd certs are valid
      "internalIP": "192.168.126.11"
    }
  ],
  "storage": {
    # List of virtual machine disk images in the bundle
    "diskImages": [
      {
        # Name of the disk image file
        "name": "crc.qcow2",
        # Format of the disk image, valid formats are 'qcow2', 'vmdk', 'vhdx'
        "format": "qcow2"
	"size": "9129426944"
	"sha256sum": "49766122a0834d62c1a24fb4e0de30cd7a39b8112083aa5e01fc26f16c15aed3"
      }
    ],
    # Information about the other files present in the bundle
    # In version 1.2, this only lists the files which are not mentioned
    # anywhere else in this file
    "fileList": [
      {
        # Name of the file
	"name": "oc"
	# What kind of file this is, valid types are 'oc-executable', 'podman-executable'
	"type": "oc-executable"
	"size": "72728632"
	"sha256sum": "983f0883a6dffd601afa663d10161bfd8033fd6d45cf587a9cb22e9a681d6047"
      }
    ]
  },
  "driverInfo": {
    # Name of driver the bundle supports, valid drivers are 'libvirt', 'hyperkit', 'virtualbox', 'hyperv'
    "name": "libvirt"
  }
}
