[Unit]
Description=CRC Unit for adding pull secret to cluster
After=kubelet.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/crc-pullsecret.sh

[Install]
WantedBy=multi-user.target
