[Unit]
Description=CRC custom target
Requires=crc-wait-apiserver-up.service
Requires=crc-cluster-status.service
After=crc-wait-apiserver-up.service crc-cluster-status.service
