[Unit]
Description=CRC Unit waiting till k8s API server is up
Requires=kubelet.service
After=kubelet.service
After=crc-env-file-exists.service
Before=ocp-delete-mco-leases.service

[Service]
Type=oneshot
Restart=on-failure
ExecCondition=/usr/local/bin/crc-self-sufficient-env.sh
ExecStart=/usr/local/bin/crc-wait-apiserver-up.sh

[Install]
WantedBy=crc-custom.target
