[Unit]
Description=Ensure that tap0 network configuration is disabled when not necessary
Before=NetworkManager.service
Before=gv-user-network@tap0.service
After=local-fs.target
RequiresMountsFor=/etc/NetworkManager/system-connections

[Service]
Type=oneshot
ExecStart=/usr/local/bin/crc-conditionally-disable-tap.sh

[Install]
WantedBy=NetworkManager.service
WantedBy=gv-user-network@tap0.service
