[Unit]
Description=CRC Unit starting routes controller
Wants=network-online.target gvisor-tap-vsock.service sys-class-net-tap0.device
After=sys-class-net-tap0.device network-online.target kubelet.service gvisor-tap-vsock.service

[Service]
Type=oneshot
EnvironmentFile=/etc/systemd/system/crc-env
ExecStart=/usr/local/bin/crc-routes-controller.sh

[Install]
WantedBy=multi-user.target
