[Unit]
Description=CRC Unit checking if cluster is ready
After=kubelet.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/crc-cluster-status.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
