[Unit]
Description=Ensure that tap0 network configuration is absent on Apple Virtualization
Before=NetworkManager.service
After=local-fs.target
After=crc-env-file-exists.service
RequiresMountsFor=/etc/NetworkManager/system-connections

[Service]
Type=oneshot
EnvironmentFile=-/etc/sysconfig/crc-env
ExecStart=/usr/local/bin/crc-no-tap.sh

[Install]
WantedBy=NetworkManager.service
