[Unit]
Description=CRC Unit checking if cluster is ready
After=kubelet.service ocp-clusterid.service ocp-cluster-ca.service ocp-custom-domain.service
After=crc-pullsecret.service

[Service]
Type=oneshot
Restart=on-failure
ExecCondition=/usr/local/bin/crc-check-cloud-env.sh
ExecStart=/usr/local/bin/crc-cluster-status.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
