[Unit]
Description=CRC Unit starting routes controller
After=kubelet.service

[Service]
Type=oneshot
Restart=on-failure
EnvironmentFile=-/etc/sysconfig/crc-env
ExecCondition=/usr/local/bin/crc-check-cloud-env.sh
ExecStart=/usr/local/bin/crc-routes-controller.sh

[Install]
WantedBy=multi-user.target
