[Unit]
Description=CRC Unit for adding pull secret to cluster
After=crc-env-file-exists.service
After=crc-wait-apiserver-up.service
StartLimitIntervalSec=450
StartLimitBurst=10
ConditionPathExists=!/opt/crc/%n.done

[Service]
Type=oneshot
Restart=on-failure
RestartSec=40
ExecCondition=/usr/local/bin/crc-self-sufficient-env.sh
ExecStart=/usr/local/bin/crc-pullsecret.sh
ExecStartPost=-touch /opt/crc/%n.done

[Install]
WantedBy=crc-custom.target
