[Unit]
Description=CRC Unit starting routes controller
After=kubelet.service
Requires=kubelet.service

[Service]
Type=oneshot
ExecCondition=/usr/bin/bash -c "/usr/bin/ping -c1 gateway && exit 1 || exit 0"
ExecStart=/usr/local/bin/crc-routes-controller.sh

[Install]
WantedBy=multi-user.target
