[Unit]
Description=CRC Unit for adding pull secret to cluster
After=kubelet.service
StartLimitIntervalSec=90sec

[Service]
Type=oneshot
Restart=on-failure
ExecCondition=/usr/local/bin/crc-check-cloud-env.sh
ExecStart=/usr/local/bin/crc-pullsecret.sh

[Install]
WantedBy=multi-user.target
