[Unit]
Description=Wait for /etc/sysconfig/crc-env file to be populated

[Service]
# This service runs a command once and then exits.
Type=oneshot

# This is the magic part. It keeps the service in an 'active' state
# after the command exits, so other services can see it succeeded.
RemainAfterExit=yes

# This is the command that waits for the file.
# It checks every second if the file does not exist ('! -f').
# Once the file is found, the loop exits, the command succeeds, and the service is 'active'.
ExecStart=/bin/sh -c 'while [ ! -f /etc/sysconfig/crc-env ]; do sleep 1; done'
TimeoutStartSec=300

[Install]
# Ensure this service is started during the normal boot process.
WantedBy=crc-custom.target
