[Unit]
Description=Ensure that tap0 network configuration is absent on Apple Virtualization
Before=NetworkManager.service
ConditionVirtualization=apple
After=local-fs.target
RequiresMountsFor=/etc/NetworkManager/system-connections

[Service]
Type=oneshot
ExecStart=/usr/bin/rm -f /etc/NetworkManager/system-connections/tap0.nmconnection

[Install]
WantedBy=NetworkManager.service
