[Unit]
Description=CRC Unit to grow the root filesystem

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ocp-growfs.sh

[Install]
WantedBy=multi-user.target
