[Unit]
Description=CRC Unit setting custom cluster ca
After=crc-wait-apiserver-up.service
StartLimitIntervalSec=450
StartLimitBurst=10

[Service]
Type=oneshot
Restart=on-failure
RestartSec=40
ExecCondition=/usr/local/bin/crc-check-cloud-env.sh
ExecStart=/usr/local/bin/ocp-cluster-ca.sh

[Install]
WantedBy=multi-user.target
