[Unit]
Description=CRC Unit setting nip.io domain for cluster
After=kubelet.service ocp-clusterid.service ocp-cluster-ca.service

[Service]
Type=oneshot
Restart=on-failure
EnvironmentFile=-/etc/sysconfig/crc-env
ExecCondition=/usr/local/bin/crc-check-cloud-env.sh
ExecStart=/usr/local/bin/ocp-custom-domain.sh

[Install]
WantedBy=multi-user.target
