[Unit]
Description=CRC Unit patching the MachineConfig to add new ssh key
After=crc-env-file-exists.service
After=crc-wait-apiserver-up.service
After=cloud-final.service
StartLimitIntervalSec=450
StartLimitBurst=10

[Service]
Type=oneshot
Restart=on-failure
RestartSec=40
Environment=KUBECONFIG=/opt/kubeconfig
ExecCondition=/usr/local/bin/crc-self-sufficient-env.sh
ExecStartPre=/usr/bin/test -f /opt/crc/id_rsa.pub
ExecStart=/usr/local/bin/ocp-mco-sshkey.sh /opt/crc/id_rsa.pub
RemainAfterExit=true

[Install]
WantedBy=crc-custom.target
