[Unit]
Description=CRC Unit setting the developer and kubeadmin user password
After=kubelet.service
Requires=kubelet.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ocp-userpasswords.sh

[Install]
WantedBy=multi-user.target
