[Unit]
Description=CRC Unit setting nip.io domain for cluster
After=crc-env-file-exists.service
After=crc-wait-apiserver-up.service
After=ocp-wait-apiservices-available.service
StartLimitIntervalSec=450
StartLimitBurst=10
ConditionPathExists=!/opt/crc/%n.done
AssertPathExists=/opt/crc/eip

[Service]
Type=oneshot
Restart=on-failure
RestartSec=40
Environment=KUBECONFIG=/opt/kubeconfig
ExecCondition=/usr/local/bin/crc-self-sufficient-env.sh
ExecStart=/usr/local/bin/ocp-custom-domain.sh /opt/crc/eip
ExecStartPost=-touch /opt/crc/%n.done

[Install]
WantedBy=crc-custom.target
