[Unit]
Description=CRC Unit setting the developer and kubeadmin user password
Before=ocp-cluster-ca.service
After=crc-wait-apiserver-up.service
StartLimitIntervalSec=450
StartLimitBurst=10
ConditionPathExists=!/opt/crc/%n.done

[Service]
Type=oneshot
Restart=on-failure
RestartSec=40
ExecCondition=/usr/local/bin/crc-check-cloud-env.sh
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/local/bin/ocp-userpasswords.sh
ExecStartPost=-touch /opt/crc/%n.done

[Install]
WantedBy=multi-user.target
