[Unit]
Description=CRC Unit setting random cluster ID
After=crc-wait-apiserver-up.service

[Service]
Type=oneshot
ExecCondition=/usr/local/bin/crc-check-cloud-env.sh
ExecStart=/usr/local/bin/ocp-clusterid.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
