[Unit]
Description=CRC Unit setting the developer and kubeadmin user password
After=kubelet.service

[Service]
Type=oneshot
Restart=on-failure
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/local/bin/ocp-userpasswords.sh

[Install]
WantedBy=multi-user.target
